$whiteColor: rgb(255, 255, 255);
$grayColor: rgb(192, 192, 192);
$blackColor: rgb(0, 0, 0);
$offWhiteColor: rgb(249, 249, 249);
$lightBlueColor: rgb(0, 99, 229);
$blueColor: rgb(0, 88, 225);
$darkBlueColor: rgb(19, 21, 29);
$deepBlueColor: rgb(4, 7, 20);
$mediumPurpleColor: rgb(100, 33, 255);
$purpleColor: rgb(120, 40, 255);